[2017-08-25 14:02] jreenen opened #1 "Some users are experiencing issues after a start/stop of an activity"

[2017-08-25 14:12] jreenen opened #2 "Start/stop activity in flows doesn't work on a timed trigger"

[2017-09-03 15:18] #2 closed

[2017-09-03 15:18] #1 closed

[2017-09-05 14:46] satbopper opened #3 "max clients=6"
the max_clients=6 errors are still in the version 1.1.1
Error: MAX_CLIENTS=6
    at AppInsightsAsyncCorrelatedErrorWrapper.ZoneAwareError (/node_modules/zone.js/dist/zone-node.js:811:33)
    at AppInsightsAsyncCorrelatedErrorWrapper (/node_modules/applicationinsights/AutoCollection/CorrelationContextManager.js:161:18)
    at Connection.onStanza (/node_modules/node-xmpp-core/lib/Connection.js:355:1

[2017-09-14 18:19] jreenen opened #4 "Adjusting volume with bigger steps"
I control my receiver via your app. I want a flow where I can adjust it volume, so I use the Send Command THEN-card, select the Control Group Volume and select command VolumeUp. This works fine, but it would be even better if I can control the volume with bigger steps. For example:

Volume, VolumeUp, 10

[2017-09-14 18:23] jreenen opened #5 "XMPP authentication failure"
Hi! Unfortunately, the app crashed while I was doing the following: (...) This is the stack trace: /node_modules/applicationinsights/AutoCollection/Exceptions.js:27 throw error; ^ Error: Unhandled "error" event. (XMPP authentication failure) at AppInsightsAsyncCorrelatedErrorWrapper.ZoneAwareError (/node_modules/zone.js/dist/zone-node.js:811:33) at AppInsightsAsyncCorrelatedErrorWrapper (/node_mod

[2017-09-14 18:25] jreenen opened #6 "Cards that can be used in the 'And' column"
I'd like to use <if> doorbell is rung <and> receiver is on <then> switch input / show ipcam feed

[2017-09-23 18:55] #6 closed

[2017-09-23 18:56] #5 closed

[2017-09-23 18:56] #3 closed

[2017-09-24 09:41] jreenen opened #7 "Inactivity trigger card"
Trigger an inactivity event when no commands are sent to the hub for a specific time

[2017-09-24 09:42] jreenen opened #8 "Implement TV class"

[2017-09-24 09:48] jreenen opened #9 "Implement speech capability"

[2017-09-24 09:49] jreenen opened #10 "Implement Web Api for external access"

[2017-09-24 09:51] jreenen opened #11 "In the pairing flow offer an option to pick an icon for the paired device"

[2017-09-24 12:52] jreenen opened #12 "Option to control homey with the Harmony Remote control"
- Register IR codes to listen on
- Settings options for command mapping
- ....

[2017-09-24 16:04] hrc007 opened #13 "device on/off status dos not work from zones screen"
Homey Firmware Versie: 1.5.3
Homey Harmony Hub Beta :  v1.2.0

I have an faber optymyst fireplace controlled via infrared.
The on/of command does work via the flow card status, but dos not work via the zone device card.
However other devices like tv and wii dos work...

[2017-09-25 10:26] hrc007 opened #14 "Device status inverted in zone device card"
Homey Firmware Versie: 1.5.3
Homey Harmony Hub Beta : v1.2.0

Device state in zone devicecard is inverted. Example tv device has device card status on, but in fact the tv is off. When i change the device card state to off my tv goes on.

[2017-09-25 18:26] jreenen opened #15 "When an activity is stopped (not switched) the app triggers an activity started instead of activity stopped event."

[2017-09-25 18:35] jreenen commented on #14
@hrc007
Thanks for your report! Think the problem is that at the moment the apps use kind of a poor man's solution for the on/off control. It's triggering the power toggle command on the hub even if the device supports separate on and off commands. Can you confirm that the initial on/off state is correctly synced with the current activity?

[2017-09-25 18:38] jreenen opened #16 "Implement an autocomplete activity condition trigger"

[2017-09-25 18:44] Vortjong commented on #15
Found the same issue.

[2017-09-25 18:50] jreenen commented on #15
@Vortjong Its triggered while switching activities (e.g. switching between Watching TV and Start Gaming) but not when you power-off an activity.

[2017-09-25 18:58] jreenen commented on #13
@hrc007
Found out why this device doesn't work on the flow card:
This device doesn't support the power toggle command. This was a poor man's solution, to begin with. I will fix this by using the Power On/Power Off commands when available and fallback to the PowerToggle when those commands aren't supported. Thanks for your report!

[2017-09-25 18:59] Vortjong commented on #15
Does this mean my expectations are incorrect ? Because I expected an "activity stopped" when I power off. BTW, great app, thanks for developing it!

[2017-09-25 19:09] jreenen commented on #15
@Vortjong No its a bug your expectation is correct. Will fix this as soon as possible.

[2017-09-26 15:11] hrc007 commented on #13
Ok Thanks!

[2017-09-26 15:19] hrc007 commented on #14
Hi I am not completly sure what you mean, but when is send a power on command via the flow manager device card, the tv goes on, but the device state in zone/ device card is not synced.

[2017-09-26 18:47] jreenen opened #17 "Pair a separate device for the Hub itself and add a possibility to start an activity on a mobile card"

[2017-09-27 18:49] JapsR opened #18 "'Activity Starting' trigger"
Besides having a trigger card when an activity has started, also have a trigger card for when an activity start just got requested. This can be useful for appliances that need to be turned on with the triggered activity but take a while to power on.

[2017-09-28 17:37] hrc007 commented on #13
Hi , with version 1.2.1 this one is working Thanks big time!,,

[2017-09-28 17:39] hrc007 commented on #14
Hi this one is working aswell Thanks

[2017-10-22 21:12] Fire69 opened #19 "Connection time-out?"
Hi,

It looks like the app seems to loose connection after some time.
When I haven't used it some time, I have to (for example) say to Homey twice to turn off the tv.
My flow runs the first time (Homey responds) but nothing happens.
The second time, the tv turns off.

[2017-11-02 11:05] MaximCrabbe opened #20 "[Beta version] Start activity not working when activity has a space"
The 'start activity' doesn t work when there is a space in the activity 'Tv kijken' however 'Chromecast' (without any spaces) activity started perfectly. (So I am guessing the space must be the reason for the failure I also tried manualy typing 'Tvkijken' but no success.

[2017-11-02 12:11] MaximCrabbe commented on #20
oke so I renamed the activities so all are without spaces. However 'Tv' Activity is not working (so renaming from 'Tv kijken' to 'tv' didn t help (yes I rebooted the homey device so the activity names are renamed) however 'Radio on TV' which is now renamed to 'Radio' is working now. I got no clue why some activities I am able to start and some I am not any idea? Is there some debugging option I ca

[2017-12-05 18:30] Lietzen opened #21 "the app crashes on my homey"
Hi the app suddenly stopped working, it crashes on the homey all the time now. Bot the stable version and also on the beta

is this a issue you are known off? Never had problems with this app before.. tried reinstalling the stable and the beta version once again but no luck. Also I have tried restarting my homey as well but no luck  at the moment.

Is it possible to install the older version again

[2018-03-26 12:06] MaikelKelder commented on #15
Having the same "issue" powering off the Harmony is acknowledged as a "Activity started" on the Homey.
Thanks for the App, because it brings cool features as dimming the light on starting an activity.

[2018-03-28 11:32] pave-xx commented on #21
Same deal for me. It crashes directly when it starts/restarts. So I cant even add my hub...

[2018-03-28 13:06] pave-xx commented on #21
I just needed to restart homey. Then the app start working...

[2018-04-08 18:31] MbenzNo commented on #19
Have the same problem with v1.2.1 Beta. Have a lot of flows that is triggered by activity started from Harmony. After less than a day it stops working until I restart the Harmony app.
Anyone knows how to find the App I.D. for the Harmony app ? I could use this to restart Harmony app every couple of hrs trough Candy app flow...

[2018-05-04 16:59] HansDutch62 opened #23 "Harmony hub not found anymore"
Since a week (or two) my flows with activity's from my harmony hub seems not to work anymore. I removed the app, restarted my harmony hub and my homey, installed the app again and now it doesn't find my hub anymore.

Tried several times without any succes.
Homey Firmware Versie: 1.5.9
Harmony hub version 4.15.96

[2018-05-04 17:10] #23 closed

[2018-05-04 17:14] HansDutch62 commented on #23
Finaly after several attemps, I removed the app again, rebooted Homey and the harmony hub, installed the stable 1.2.0 version and voila, reanimated :-)

[2018-07-03 07:27] stanman23 opened #24 "Can not find TV, receiver"
First of all i love the app. Most of the time it works perfect. I have a couple of things to report.

- When i update/sync my hub Homey wont control them any more. Last time i updated the hub, my 10 flows where still there, no broken links but also (on test) no connection whit the receiver. It keeps trying. When i uninstall the hub and install it again every thing works fine....

- On the hub are

[2018-08-14 21:50] tjoepatjoep opened #25 "Unmute"
Hi,

Is it possible to have an 'unmute' and a 'stop activity' task in this app? Would be helpful...

Cheers, Joep

[2018-09-04 18:52] behgez opened #26 "Tags do not change values"
Is this app still supported, given there hasn't been an updated release in a year?

The tag values for the devices do not change value when something is turned on/off.

Also the flows are not working (flow is not activated when I add 'activity started' in the 'if' column and the name of the activity tag in the middle column).

[2018-09-11 09:43] behgez commented on #26
@jreenen Are you still maintaining this app?

The only trigger that works is 'activity started'. I can't trigger anything that is related to 'activity stopped' or 'device turned off'. They are simply not recognized.

[2018-09-11 13:20] jreenen commented on #21
@Lietzen sorry for the extreme late reply, is this still an open issue for you?

[2018-09-11 14:09] #13 closed

[2018-09-11 14:10] #15 closed

[2018-09-12 14:54] #14 closed

[2018-09-13 10:55] jreenen commented on #25
@tjoepatjoep as this app reads the available commands from the harmony hub if there is no unmute support for your device it won't be listed. Most devices will unmute as soon as you send a volume up/down command maybe that can be helpful.
There is a stop activity task available in this app if you drag the homey harmony app the last lane of you flow you can switch between toggle the card between sta

[2018-09-13 10:55] #25 closed

[2018-09-13 10:57] #21 closed

[2018-09-13 11:42] jreenen commented on #24
@stanman23 sorry for my extremely late response.

- The behavior you describe is caused by some caching mechanism that was implemented on this app. At the moment it isn't that smart that it is detecting when changes happen on the hub. You don't have to reinstall the hub, restarting the application does the trick also.
- TV and televison are reserved words on the homey at this moment a TV on the ha

[2018-09-13 11:42] #24 closed

[2018-09-13 11:44] jreenen commented on #19
@Fire69 @MbenzNo sorry for my extremely late response. This seems a bug and I will try to reproduce and address it.

[2018-09-13 11:46] jreenen commented on #20
@MaximCrabbe sorry for my extremely late response, i will investigate this issue and try to address it if I can reproduce it.

[2018-09-13 11:48] jreenen commented on #26
@behgez i will investigate this issue and address it as soon as i can reproduce this behaviour

[2018-09-13 17:46] behgez commented on #26
Hi @jreenen

Thanks for looking into this 👍

Yes, I'm using the Harmony Elite in combination with the Hub.

I completely removed the app, then installed the beta version and now it is working again. So for now issue solved :-)

[2018-09-13 17:46] #26 closed

[2018-09-13 18:35] Fire69 commented on #19
No worries, take your time 👍 🙂

[2018-09-16 08:06] jreenen commented on #18
Hi @JapsR, I will include this feature in the next release.

[2018-09-16 10:02] jreenen commented on #18
@JapsR almost done with implementing starting/started what do you think does it make sense to do the same for stopping an activity stopping/stopped?

[2018-09-16 13:05] JapsR commented on #18
Hi @jreenen, great to see you back in action! Hope you are well :-)
I don't think it could hurt to have those actions as well, if it's not too much work.

[2018-09-16 21:54] jreenen commented on #12
Closed for now

[2018-09-16 21:54] #12 closed

[2018-09-16 21:55] jreenen commented on #9
Closed for now

[2018-09-16 21:55] #9 closed

[2018-09-16 21:55] jreenen commented on #10
Closed for now

[2018-09-16 21:55] #10 closed

[2018-09-17 12:05] jreenen commented on #4
Implementing by making it possible to repeat a hub command (including volume up/down) multiple times

[2018-09-17 12:08] jreenen commented on #17
Closed for now

[2018-09-17 12:08] #17 closed

[2018-09-17 12:08] jreenen commented on #11
Closed for now

[2018-09-17 12:08] #11 closed

[2018-09-18 13:48] Eternity-again opened #27 "Missing the option to select an activity in "stop activity" card"
**Describe the bug**
A clear and concise description of what the bug is.
<img width="335" alt="schermafbeelding 2018-09-18 om 15 45 32" src="https://user-images.githubusercontent.com/10754229/45692014-17782280-bb5a-11e8-9583-202ad56b342d.png">
The card to start an activity should be the same as the card to stop an acivity. However, the 'select an ancivity' selecor is missing.

 - Homey firmware ve

[2018-09-18 16:48] jreenen commented on #27
@Eternity-again while investigating this I found out it isn’t a bug: as stopping always stops the active activity it isn’t needed to specify this activity.

[2018-09-19 09:08] jreenen commented on #27
Will close this issue if you do not agree feel free to re-open this issue

[2018-09-19 09:08] #27 closed

[2018-09-19 19:48] tboudri opened #28 "Number command always repeated at least one time in beta 1.3.0"
In the new beta version 1.3.0 you have to set a repeat count for the numberbasic command.
the lowest accepted value for the repeat count is 1. That means that the numberbasic command is always repeated 1 time. So if i want to switch to channel 1 it actually sends 11

[2018-09-19 21:12] jreenen commented on #28
@tboudri this is a bug, I have fixed it by allowing a value of 0 in the next release v1.3.1 which I submitted to the beta channel, after reviewing by Athom it will hit the Athom store.

Sorry for the problems this caused you.

Regards,

Jeroen

[2018-09-25 10:37] jreenen commented on #28
Fix released

[2018-09-25 10:37] #28 closed

[2018-09-25 10:38] jreenen commented on #18
Feature released

[2018-09-25 10:38] #18 closed

[2018-09-25 10:38] jreenen commented on #16
Feature released

[2018-09-25 10:38] #16 closed

[2018-09-25 10:38] jreenen commented on #7
Feature released

[2018-09-25 10:38] #7 closed

[2018-09-25 10:39] jreenen commented on #4
Feature released

[2018-09-25 10:39] #4 closed

[2018-09-25 10:40] jreenen opened #29 "Make it possible to manually add a hubs ip address"
**Describe the solution you'd like**
If hub autodiscovery doesn't work make it possibe to manually add a hub ip address

[2018-09-25 10:42] jreenen opened #30 "Gather debug information for better root cause analyses"
**Is your feature request related to a problem? Please describe.**
Create a way to gather debug information to better understand the root cause of issues

[2018-09-25 10:48] jreenen opened #31 "Update user guide"

[2018-10-12 19:11] frekel commented on #20
@MaximCrabbe: Maybe you can use the logic-card "contains"
I found a sollution for @activiteit is exactly "Watch Netflix". I changed it to @activiteit contains "Netflix"

[2018-11-18 15:39] tranceblast opened #32 "Problem"
I need to restart the app everyday to be able to use it, then it works a few times then it wont work until i restart the app

[2018-11-22 20:39] jreenen commented on #32
@tranceblast At the moment I am busy writing a version that makes it possible for me to better investigate the problems you and other users are facing. Hopefully, we will get it out there soon and fix your problem.

[2018-11-23 23:50] denniedegroot commented on #20
@MaximCrabbe I cannot reproduce your issue. Do you have screenshot of your flow with the problem?

[2018-11-29 23:30] edwinvdpol opened #33 "Flow does not finish"
**Describe the bug**
When I create a simple flow, and the "than" action is to press a button on the HD decoder for example, the flow does not finish.
EDIT: It also does not finish the "Start activity" and "Stop activity" action.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a flow which activates a result like "Press x key on remote"
2. Click on 'Test'
4. See how the spinner keeps s

[2018-12-01 21:18] hemertje opened #34 "How to Add Homey in the Harmony menu"
Hi,

Not an issue but a question...

How to add Homey actions to the Harmony menu?

[2018-12-11 13:14] edwinvdpol commented on #32
@jreenen Are you also make it Homey v2 compatible?

[2018-12-11 20:12] denniedegroot commented on #32
@edwinvdpol the app is already Homey v2 compatible.

[2018-12-11 21:14] denniedegroot commented on #33
Should be fixed in the next release.

[2018-12-11 21:14] #33 closed

[2018-12-11 21:17] denniedegroot commented on #34
Do you want to add Homey actions/commands to your remote? Because that is not possible.

[2018-12-11 21:19] denniedegroot commented on #19
@Fire69 @MbenzNo is this still an issue? I cannot seem to reproduce it.

[2018-12-11 21:38] hemertje commented on #34
yes, wanted to do that, for example lights on/off via the Harmony remote...

so i still need another second remote?
what's the use then of the harmony?

is there an alternative for the harmony?

[2018-12-11 21:47] denniedegroot commented on #34
I dont think there is an alternative. You can use a kaku remote for example. The use case for this app is that Homey controls the equipment and sends the commands to the Harmony hub. For example: You come home and Homey turns on the TV. Or you go away and Homey turns everything off.

[2018-12-11 21:47] #34 closed

[2018-12-11 22:41] MbenzNo commented on #19
Yes, I i think the problem still exist. I have changed the trigger from activity started to device turned on, and it seems to have improved the situation somehow. But after some time the flow stops working (Does not trigger)

[2018-12-12 09:20] Fire69 commented on #19
Same here.  I don't use it that often, but when I do, it doesn't always work.
Haven't really done any testing.
If you want me to test something, let me know :)

[2018-12-12 21:21] Fire69 commented on #19
Just did a test now by doing a test-run of my flow.
Didn't work.  I restarted the app and then it worked.
The little circle does keep turning though
![image](https://user-images.githubusercontent.com/1757287/49899529-41409d00-fe5c-11e8-92eb-3e46a4cfabe5.png)

[2018-12-12 21:50] Fire69 commented on #19
Hm, I noticed the occasional red led on my hub also... At that moment the
hub is unreachable. Is it only red when the wifi disconnects or also when
there is another problem?
Is your app polling the hub? If so, would it be possible that too many
requests are 'flooding' the hub?

On Wed, Dec 12, 2018, 22:27 MbenzNo <notifications@github.com wrote:

[2018-12-12 23:17] denniedegroot commented on #19
@Fire69 the circle turning is fixed in the latest commit. Can you try the latest code and check if it turns green or red when it isnt working?

[2018-12-13 09:30] Fire69 commented on #19
Installed the app and turning circle is solved indeed. I'll do some tests now to see if it still times out after some time.

[2018-12-13 18:43] MbenzNo commented on #19
Still on v1.3.1, Homet v 1.5.13.
Had one occurance today when the flow was not triggered when turning on my TV. Harmony Hub LED was green. Turned off and on again, and it have worked several time since.

[2018-12-14 21:37] Fire69 commented on #19
Still going strong here after 2 days.  Will keep testing until it fails (hopefully never 😄 )

[2018-12-17 20:08] lukefairbank opened #35 "V2 RC4 breaks harmony app"
**Describe the bug**
App tries to start but crashes every time.
I am running the latest master.
Reinstalled app but same issue

[2018-12-17 20:22] denniedegroot commented on #35
I have no issue with RC4. Please run the app with the athom-cli and paste the output here.

[2018-12-17 21:06] lukefairbank commented on #35
Hi,
Here is the error, it was working roughly 30 mins before I upgraded on both hubs and hasn’t worked since.
Thanks for your help.

─────────────── Logging stdout & stderr ───────────────
com.jreenen.homeyharmonyhub running...
Finding hubs....
Harmony device driver initializing...
discovered 192.168.0.20 Lounge Room
discovered 192.168.0.22 Family Room

/node_modules/applicationinsights/AutoCollec

[2018-12-17 21:07] denniedegroot commented on #35
Is that all the logging? It's a little hard to see what is going on here.

[2018-12-17 21:08] lukefairbank commented on #35
Yep, unless I am doing something wrong

From: denniedegroot <notifications@github.com>
Sent: Tuesday, 18 December 2018 8:08 AM
To: jreenen/com.jreenen.homeyharmonyhub <com.jreenen.homeyharmonyhub@noreply.github.com>
Cc: lukefairbank <luke_fairbank@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [jreenen/com.jreenen.homeyharmonyhub] V2 RC4 breaks harmony app (#35)

Is that all the log

[2018-12-17 21:11] denniedegroot commented on #35
Probably not. I will have a look how to get more debugging information.

[2018-12-17 21:27] seekelen opened #36 "Crash v 1.3.1"
The app crashes constantly. Restarting the app or restarting the homey doesn’t work :-(.

[2018-12-17 21:31] lukefairbank commented on #35
If I disconnect the hub that is throwing the error it works, the minute its back on the network, the app crashes.
I have restarted it, changed IP and confirmed that its on the latest firmware.

From: denniedegroot <notifications@github.com>
Sent: Tuesday, 18 December 2018 8:12 AM
To: jreenen/com.jreenen.homeyharmonyhub <com.jreenen.homeyharmonyhub@noreply.github.com>
Cc: lukefairbank <luke_fairban

[2018-12-17 21:46] denniedegroot commented on #35
Have you restarted Homey? I cannot reproduce it yet, I have also 2 hubs.

[2018-12-17 23:12] lukefairbank commented on #35
Hi, yes I have, several times.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: denniedegroot <notifications@github.com>
Sent: Tuesday, December 18, 2018 8:46:44 AM
To: jreenen/com.jreenen.homeyharmonyhub
Cc: lukefairbank; Author
Subject: Re: [jreenen/com.jreenen.homeyharmonyhub] V2 RC4 breaks harmony app (#35)

Have you restart

[2018-12-17 23:15] caseda commented on #35
Maybe that hub has updated to the latest harmony update which will disable the local api control, and thus refusing the connection.
https://www.home-assistant.io/blog/2018/12/17/logitech-harmony-removes-local-api/

[2018-12-18 05:58] lukefairbank commented on #35
Thanks, that was it. Obviously will be an issue going forward 😊

From: R Mengers <notifications@github.com>
Sent: Tuesday, 18 December 2018 10:15 AM
To: jreenen/com.jreenen.homeyharmonyhub <com.jreenen.homeyharmonyhub@noreply.github.com>
Cc: lukefairbank <luke_fairbank@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [jreenen/com.jreenen.homeyharmonyhub] V2 RC4 breaks harmony app (#35

[2018-12-18 06:13] lvefferen commented on #36
I Agree, since yesterday, the app instantly crashes after restarting. No idea how it's possible, firmware and app version did not change.

[2018-12-18 07:42] denniedegroot commented on #35
Well thats a major change with no notification from Logitech. I hope they will revert the change asap as more people are complaining on their forums.

[2018-12-18 07:43] denniedegroot commented on #36
Duplicate #35

[2018-12-18 07:43] #36 closed

[2018-12-18 07:44] lukefairbank commented on #35
Looks like they pulled it

Sent from Nine<http://www.9folders.com/>
________________________________
From: denniedegroot <notifications@github.com>
Sent: Tuesday, 18 December 2018 6:42 pm
To: jreenen/com.jreenen.homeyharmonyhub
Cc: lukefairbank; Author
Subject: Re: [jreenen/com.jreenen.homeyharmonyhub] V2 RC4 breaks harmony app (#35)

Well thats a major change with no notification from Logitech. I

[2018-12-18 15:19] flits commented on #35
Same here, from one time to another the Harmoney app in homey crashed and will not start.

[2018-12-18 16:03] lvefferen commented on #35
The documented solution worked like a charm for me (Rollback Firmware)
https://www.home-assistant.io/blog/2018/12/17/logitech-harmony-removes-local-api/

[2018-12-18 21:18] Fire69 commented on #19
Well, had to restart the app today because my flow wasn't working anymore (not because of the Logitech firmware 'upgrade')
So after about a week, it stopped working.

[2018-12-18 21:23] MbenzNo commented on #19
Flows with Harmony triggers stopped working a couple of days ago. Just restarted the Harmony app, and the flows started working again.

[2018-12-19 16:37] MbenzNo commented on #19
I just restarted my Homey, and when it started again I got an Notification in the desktop app that the Homey Harmony Hub app has crashed. Restarted the app several times and the app immediately crashes and sends same notification.

[2018-12-19 23:15] denniedegroot commented on #35
They intentionally removed it and it will not come back...
https://community.logitech.com/s/question/0D55A00008D4bZ4SAJ/harmony-hub-firmware-update-fixes-vulnerabilities

So the app has to be converted to websockets, until then if you want to use this app you have to revert your Harmony firmware.

[2018-12-19 23:56] MbenzNo commented on #19
Hav uninstalled the app and re-installed it again. Crashes immedeately after installation... What is happening?

[2018-12-20 00:05] denniedegroot commented on #19
@MbenzNo please read issue #35

[2018-12-20 07:04] lvefferen commented on #35
I've seen the statement indeed, for now the only "solution" is firmware rollback
https://www.home-assistant.io/blog/2018/12/17/logitech-harmony-removes-local-api/

They guys at HA already began rewriting to websockets, are you planning to re-write the application? HA released an early version of their websockets integration.

[2018-12-21 19:12] denniedegroot commented on #35
Websockets are implemented and only work for actions cards as of yet. If anyone wants to try it use the websockets branch.

https://github.com/jreenen/com.jreenen.homeyharmonyhub/tree/websockets

[2018-12-22 15:44] B3rt opened #38 "crash after auto update to version 1.4.0"
After the app auto update to last version 1.4.0 today it now  constantly crashes, it does not start anymore.

**To Reproduce**
Just auto update, it crashes when it is started again

**Desktop (please complete the following information):**
 - Homey Firmware Versie: 1.5.13
 - App version 1.4.0

[2018-12-22 17:09] jreenen commented on #38
v1.4.1 should fix this. Closed for now feel free to re-open if you are still experiencing this on v1.4.1

[2018-12-22 17:09] #38 closed

[2018-12-22 17:14] jreenen commented on #19
@Fire69 I am very interested if you are experiencing this issue on v1.4.x please let us know if you do

[2018-12-22 18:16] Fire69 commented on #19
@jreenen I'm waiting for it to update automatically, I'm still on 1.3.1 for now.
I'm still pretty busy fixing all the other (more essential) stuff after upgrading to 2.0...

[2018-12-22 21:34] Fire69 commented on #19
Just figured out why I'm still waiting for the automatic update...  I installed 1.3.1 through CLI 😃
Installed 1.4.1 now and everything seems to be working just fine! :)

[2018-12-23 12:32] denniedegroot commented on #35
Fixed in release 1.4.1.

[2018-12-23 12:32] #35 closed

[2018-12-23 12:33] denniedegroot commented on #32
Should be fixed with 1.4.1. If not then please re-open this issue.

[2018-12-23 12:33] #32 closed

[2018-12-23 13:00] jreenen commented on #20
@MaximCrabbe I will close this issue if you still experiencing this in v1.4.x please provide us with a screenshot of your flow setup and feel free to re-open it.

[2018-12-23 13:00] #20 closed

[2018-12-23 18:54] #30 closed

[2018-12-24 11:49] timecapture opened #40 "Cannot install invalid_checksum: [object Object]"
Cannot install either from Homey Desktop app or App Store. Error:
invalid_checksum: [object Object]

[2018-12-24 22:49] jreenen commented on #40
Hi @timecapture this issue has been solved. Please feel free to re-open this issue as you are still experiencing problems.

[2018-12-24 22:49] #40 closed

[2018-12-27 12:50] jreenen commented on #19
@Fire69 are you still experiencing connection time-outs on this new version?

[2018-12-27 17:37] MbenzNo commented on #19
V 1.4.3 is working stable for me

[2018-12-27 18:15] Fire69 commented on #19
It seemed to be working OK (1.4.3) but when I wanted to check it in the app just now, I got a 'deze app is onverwacht gestopt'...
I'll keep an eye on it.

[2019-01-12 10:37] jreenen commented on #29
Will not be implemented for now

[2019-01-12 10:37] #29 closed

[2019-01-13 05:57] lukefairbank opened #41 "Cant open device settings in latest Beta"
Opening device settings crashes app. Old devices are fine, only impacts new ones created after upgrade

[2019-01-13 16:42] jreenen commented on #41
Hi Luke,

Which Homey firmware are you on?
Did you used CLI to install the latest beta or are you referring to the latest beta in the Athom store, to be sure what is the app version you have currently installed.
If possible could you send me some more information like a crash report?

[2019-01-13 19:13] lukefairbank commented on #41
Thanks for the quick response.
I am on v2.0 of both firmware and app.
I installed the app via CLI.
The firmware is the latest (not RC).
How do I get a crash report?
Thanks
Luke

Sent from Nine<http://www.9folders.com/>
________________________________
From: Jeroen van Reenen <notifications@github.com>
Sent: Monday, 14 January 2019 3:42 am
To: jreenen/com.jreenen.homeyharmonyhub
Cc: lukefairbank; A

[2019-01-13 19:19] jreenen commented on #41
If you open the mobile app, click on more —> Apps, select the Homey Harmony App. If there is a red text with something like this app unexpectedly... and click on it you see a crash text. If you can take a screenshot and mail it to jreenen@hotmail.com I can start investigating.

[2019-01-13 19:20] jreenen commented on #41
Oh I see you can just use contact developer on that screen to, that might be easier.

[2019-01-13 19:32] jreenen commented on #41
Did you take a screenshot and email it or used the contact developer? Can’t see it in my email yet.

[2019-01-13 19:40] lukefairbank commented on #41
I used the button.

Sent from Nine<http://www.9folders.com/>
________________________________
From: Jeroen van Reenen <notifications@github.com>
Sent: Monday, 14 January 2019 6:32 am
To: jreenen/com.jreenen.homeyharmonyhub
Cc: lukefairbank; Author
Subject: Re: [jreenen/com.jreenen.homeyharmonyhub] Cant open device settings in latest Beta (#41)

Did you take a screenshot and email it or used the co

[2019-01-13 19:44] jreenen commented on #41
It might be because this version is not (yet) in store could you take a screenshot and mail it?

[2019-01-13 19:46] lukefairbank commented on #41
It's going to be tricky now :)
I uninstalled and reinstalled 2.0 which had the same issue so have now reverted to 1.5.1 and recreated scenes etc

Sent from Nine<http://www.9folders.com/>
________________________________
From: Jeroen van Reenen <notifications@github.com>
Sent: Monday, 14 January 2019 6:44 am
To: jreenen/com.jreenen.homeyharmonyhub
Cc: lukefairbank; Author
Subject: Re: [jreenen/com.

[2019-01-17 17:04] jreenen commented on #31
Done in latest release

[2019-01-17 17:04] #31 closed

[2019-01-17 17:04] jreenen commented on #8
Implemented in version 2.0.x

[2019-01-17 17:04] #8 closed

[2019-01-17 17:57] jreenen commented on #41
This problem is solved in the latest beta version. I am in contact with Athom because it seems it is caused by a bug in one of their components. Unfortunately if you want to delete a device without a settings menu you have to uninstall the app and reinstall + repair all your devices. If this didn’t solve it for you feel free to re-open this issue.

[2019-01-17 17:57] #41 closed

[2019-01-17 17:58] jreenen commented on #19
How is the behavior on the latest v2.0.1 version?

[2019-01-17 20:51] Fire69 commented on #19
Only installed it this afternoon, so a bit short to say anything about the stability.
Everything seems to be working fine for now, we'll see in a couple of days if it stays that way, but I bet it will.
You're doing a great job 👍

[2019-01-21 14:16] jhilhorst opened #42 "Homey flow is triggered AFTER the Harmony activity"
I wanted to use the activity started (Watch TV) in a flow to activate a kaku switch. This kaku switch is controlling the power to my TV.
I have added a delay in the harmony (hub) activity so the flow has enough time to switch on the Kaku TV switch.
But unfortunately the flow is triggered after the harmony activity is completed (so thats after the delay as well).
I can us Activity started or Activi

[2019-01-23 09:24] Barbados02 opened #44 "The action stop a activity dows not show any activity"
When i make a new flow in V2.01 and i get to the then field i can choose to start or stop a activity.
Then i choose stop, i select my hub, but i get no selection on what activity to stop.

**To Reproduce**
Steps to reproduce the behavior:
1. create a flow to stop a activity
2. your hub
3. No activity shown

**Expected behavior**
A activity that i can stop.

As i remember it from the past when i ma

[2019-01-23 11:03] caseda commented on #44
Stop activity always stops the current active activity, so no need to select any.

[2019-01-23 19:11] jreenen commented on #44
Hi @Barbados02 indeed like @caseda says, the app is aware of the current running activity on your Harmony Hub so it's not needed to specify that.

To be honest, this action card is just a shortcut to starting the PowerOff activity on your harmony hub.

[2019-01-24 12:54] Barbados02 commented on #44
Aha, sorry!
Then i have to test some more most likely i am making a mistake somewhere.
Thanks!

[2019-01-24 12:54] #44 closed

[2019-01-24 12:55] Barbados02 commented on #44
Aha, sorry!
Then i have to test some more most likely i am making a mistake somewhere.
Thanks!

[2019-01-25 21:08] VioDimi opened #46 "Device state is not recognized by Homey"
If started with Harmony, the device State (on/off) is not changed by Homey

[2019-01-26 21:47] jreenen commented on #46
@VioDimi Is this the case when you start another activity or when you control an individual device?

[2019-01-27 06:12] VioDimi commented on #46
Hy Jreenen,
You have done a GREAT Job.
My case is:
I have automated the lights. But if the TV is on should not turn on. Since
the TV is in more than one activity, I have added it as device als put in
the flow a condition "if TV is Off".
So I have tested right know  and its the  same  with starting activity or
device by Harmony. If I start the trough Homey, by Device is recognizing
the state of the

[2019-01-27 11:32] jreenen commented on #46
@VioDimi I will investigate this. Please know that this app only recognizes state changes in activities and not on single devices if they are executed by e.g. the harmony remote and not on the Homey app.

If I understand you correctly currently it doesn't work on activity changes also. This should work and will look into that.

[2019-01-27 11:48] VioDimi commented on #46
Hy Jreenen,

In the mentionet version it is working.
Look at the attashed flow.
Ist still working (i have disebled all the Updates on that Homey.

Tanks!

Am So., 27. Jan. 2019, 12:32 hat Jeroen van Reenen <notifications@github.com>
geschrieben:

[2019-01-27 11:54] jreenen commented on #46
Thanks for the information, that will for sure help me find the underlying issue.

[2019-01-27 12:00] VioDimi commented on #46
Stop, your right,  I'm starting the projector with the harmony remote,  but
trought activity and so Homey knows zur state of the device.

Am So., 27. Jan. 2019, 12:54 hat Jeroen van Reenen <notifications@github.com>
geschrieben:

[2019-01-27 12:16] jreenen commented on #46
Your latest comment confuses me a bit. Is there still something I need to investigate?
If not could you close this issue?
If there still is something that needs investigation could you try to repeat what seems to be the issue?

Thanks!

Jeroen

[2019-01-27 13:14] VioDimi commented on #46
Hi Jreenen,
Me again, intense testing.
So it's nothing to investigate, your app is working greate.
It is only a huege delay till Homey update  the Icon.

Thanks very mutch

Am So., 27. Jan. 2019, 13:29 hat Jeroen van Reenen <notifications@github.com>
geschrieben:

[2019-01-27 14:02] jreenen commented on #46
Can you please close this issue if nothing needs to be investigated anymore.

[2019-01-27 19:22] marcschut002 opened #47 "hub not found (80% of the time)"
Hi there,
Sometimes the app (version 1.x and 2.x) finds my harmony, but most of the time it doesn't.
My iOS harmony app always works, but I cannot find out why this Homey app won't find my hub (most of the time).

When I have installed the devices or activities when the Homey was able to find it the devices won't work or don't get updated after a day or so and gets broken.

This is a screenshot of

[2019-01-28 19:05] jreenen commented on #47
@marcschut002 Thanks for taking the time creating an issue! I have found some bugs in the discovery library I am currently using. I am planning to replace this discovery library for one of my own in the next release. Hopefully, this will resolve the issue for you. Will keep you posted on my progress.

[2019-01-28 19:10] marcschut002 commented on #47
Hi @jreenen, thanks for the heads up. I will post an update when the new version is there and I have tested it. If you need more info just let me know.

[2019-02-04 11:27] jvdgalien opened #48 "Harmony app doesn’t see Ant devices"
Harmony app removed and reinstalled. In the Homey app it doesn’t show any off the devices.
It work fine before the big Homey-update to the mobile version.

I’m on the latest homey and harmony version.

The harmony as standalone thing works perfectly, so I guess it must be a thing in homey or homey/harmony app.

I couldn’t find a way to ADD devices manually.... maybe I missed something

SORRY, SORR

[2019-02-05 10:26] #48 closed, assigned to nobody

[2019-02-18 16:29] tranceblast commented on #47
Suddenly I can't add activities or devices on 2 of my 3 harmony Hubs, Homey shows the hubs but can't find any activitys or devices. Network failure it says. One hub works

[2019-02-18 17:00] tranceblast commented on #47
The two hubs that I can't add activities and devices on, use version 4.15.250 and the one that work use 4.15.206

[2019-02-19 07:54] ilmaros commented on #47
Hi, Tuesday 19 February the Harmony hub stops to work with Homey, it sees the hub but when you are connecting it gives a Network failure on version 2.0.1, therefore it worked fine.

[2019-02-19 14:34] jahnkenneth opened #49 "Not able to add activities or devices"
Homey 2.0.2.
I am not able to add Avtivities or Devices. The app discovers my hub, bot When trying to add either Activities or Devices it times out...

[2019-02-19 15:53] s1061429 commented on #49
I have the same problem. My hub is discovered. But that is it. It ends with "Network request failed" or 30000ms timeout. Hope this will be solved quickly. I like the app very much, thank you for that!

homeyVersion | "2.0.2"
-- | --

[2019-02-19 19:22] jreenen commented on #49
@jahnkenneth @s1061429 I am currently investigating this issue. Seems to be happening on the latest Logitech Harmony Hub firmware v4.15.250 can you confirm you are on this version?

[2019-02-19 19:39] jahnkenneth commented on #49
Yes, i am on v4.15.250

[2019-02-19 19:56] Jesa-a1 commented on #49
I am on v4.1.5.250 and Homey 1.5.13

I cannot start add devices or devices. It sees the hub, that's it.

And I cannot start or stop activity. Or control devices.

I see that this Harmony version now have the XMPP setting for local API. I tried to enable it. Before enabling XMPP (yesterday evening) my harmony devices was reported offline in Homey. After enabling the devices is seemingly online agai

[2019-02-19 20:07] TheBluProject commented on #49
Same here, update was pushed automatically, tried re-installing the app, it detects the hub but it does not see / add devices or activities.

https://community.logitech.com/s/question/0D55A00008OsX3CSAV

[2019-02-19 20:22] casper181 opened #50 "Can see Hub but then get error"
When trying to add devices or routines I get a network error despite being able to see the hub

[2019-02-19 21:01] Wiltjer commented on #50
I see the hub but no activitys

[2019-02-19 21:04] Wiltjer opened #51 "App stopped today"
App stopped today, did not work anymore after restart

[2019-02-19 21:07] s1061429 commented on #49
Yes, I am on 4.15.250

[2019-02-19 21:52] jreenen commented on #49
Have found the issue, the good news is that it seems fixable but it will take me some time (around 2 days) to code the fix. Will keep you updated on this.

[2019-02-19 22:36] jahnkenneth commented on #49
Good to hear! Keep up the good work!
I really appreciate your work, so I made a small donation. :-)

[2019-02-20 12:01] rob1966 opened #52 "App stopped yesterday. No activities can be added after reinstall the app"

[2019-02-20 12:13] jreenen commented on #50
Duplicate of #49 to keep it central I will close this issue, please use #49 to track progress and further comments.

[2019-02-20 12:13] #50 closed

[2019-02-20 12:13] jreenen commented on #51
Duplicate of #49 to keep it central I will close this issue, please use #49 to track progress and further comments.

[2019-02-20 12:13] #51 closed

[2019-02-20 12:14] jreenen commented on #52
Duplicate of #49 to keep it central I will close this issue, please use #49 to track progress and further comments.

[2019-02-20 12:14] #52 closed

[2019-02-20 22:48] vladivdv opened #53 "no work"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-02-20 22:49] vladivdv commented on #53
hi plagin no work

[2019-02-20 22:49] vladivdv commented on #53
pls help

[2019-02-21 10:15] jreenen commented on #53
Duplicate of #49 to keep it central I will close this issue, please use #49 to track progress and further comments.

[2019-02-21 10:15] #53 closed

[2019-02-21 11:30] vladivdv commented on #49
we wait for correction what works from developers. Please correct, at me is them in the house of 6 pieces... and all were in HOMEY, help

[2019-02-21 13:20] jreenen commented on #49
@vladivdv working on a solution, my expectation is that the coding will be done today, after that, I will perform some testing and publish an updated version to the store. After that, we need to wait for Athom's approval.

[2019-02-21 21:37] jreenen commented on #49
While working on the fix I also detected that since the latest Logitech Harmony Hub firmware they changed the unique id of the hub. I have a version fully working now that would require deletion of all devices and activities + a repair of those devices. At the moment I am looking into a way to prevent this, although this would take a bit longer for the fix to hit the store, I don't want to confron

[2019-02-23 12:00] jreenen commented on #49
I am currently testing the version that is available for CLI install on https://github.com/jreenen/com.jreenen.homeyharmonyhub/tree/fix/latest_hub_firmware

Currently, there is one known issue: if you pull the plug from your hub the app doesn’t detect it. I want to fix it but I might publish this version with the known issue if I can’t fix it today.

[2019-02-23 15:45] AlbertDijksma commented on #49
Hi Jeroen,
Everything works again.
Now I can operate my Kalox curtains again via the harmony hub.
I had to reconfigure the devices and flows.
Super thanks that everything is fixed so quickly.
Greetings
Albert

[2019-02-23 19:28] nieuwe opened #56 "Harmony offline"
Hello

Don’t know if it is allready reported but my devices show as offline
The app is running and restarting it doesn’t resolve the offline states

[2019-02-24 08:39] jreenen commented on #56
Probably a duplicate of #49 to keep it central I will close this issue, please use #49 to track progress and further comments.

[2019-02-24 08:39] #56 closed

[2019-02-24 09:48] maaikekaasenbrood opened #57 "Harmont app stopped working after homey 2.0.4 update"
App stopped working after homey 2.0.4 update. Restarting app, restarting harmony hub and rebooting homey did not fix anything

[2019-02-24 10:45] rpbras commented on #57
I also updated to 2.04. And the app still works as it should for me.

[2019-02-24 11:39] jreenen commented on #57
Duplicate of #49 to keep it central I will close this issue, please use #49 to track progress and further comments.

[2019-02-24 11:39] #57 closed

[2019-02-24 12:04] lukefairbank commented on #49
Thanks for all your work on this. I have installed the beta version. From the link above and it's still not working. I can add devices but get the error "cannot read property 'ip' of undefined" when trying to send commands

[2019-02-24 13:20] jreenen commented on #49
@lukefairbank could you try to power cycle the hub? After that restart the app. Do you experience the same problems?

[2019-02-24 14:34] jahnkenneth commented on #49
The same happened to me, but it resolved itself after restarting the app. 😀

[2019-02-24 17:12] tranceblast commented on #49
Thanks! This worked for me :)

[2019-02-24 17:13] tranceblast commented on #49
Thank you @jreenen this worked for me :)

[2019-02-24 19:38] lukefairbank commented on #49
All good now, thanks

Sent from Nine<http://www.9folders.com/>
________________________________
From: Jeroen van Reenen <notifications@github.com>
Sent: Monday, February 25, 2019 12:20 AM
To: jreenen/com.jreenen.homeyharmonyhub
Cc: lukefairbank; Mention
Subject: Re: [jreenen/com.jreenen.homeyharmonyhub] Not able to add activities or devices (#49)

@lukefairbank<https://github.com/lukefairbank> cou

[2019-02-25 10:59] jahnkenneth opened #58 "Tag «Volume muted» not updating"
This tag is allways true, eventhough the TV is muted via the Harmony hub.
Is there something wrong with the app?

[2019-02-25 11:17] jahnkenneth commented on #58
Correction; it takes looong time to update...

[2019-02-25 21:01] jreenen commented on #58
@jahnkenneth can you send a screenshot or tell me how you use this <<Volume muted>>?

Are you muting the device with the app on homey or through the harmony remote?

[2019-02-25 21:05] jreenen commented on #47
@marcschut002 the app is updated to version v2.0.2 are you still experiencing this issue on that version?

@ilmaros, @tranceblast same question to you, are you still experiencing issues?

[2019-02-25 21:12] jahnkenneth commented on #58
I want to use it to mute the TV when Homey makes an audible announcement. But I only want to send a mute command if the TV is unmuted, otherwise it will unmute instead a allready muted TV. Hope you understand what I mean... :-)
I guess part of the reason for this is because the TV doesnt differentiate between the «mute» and «unmute» command. But does any TV do that...?

[2019-02-25 21:43] jreenen commented on #58
@jahnkenneth and you send the mute command inside the homey app or do you use your Harmony remote?

[2019-02-25 21:45] jreenen commented on #49
@jahnkenneth, @vladivdv does v2.0.2 fixes the issues you where experiencing?

[2019-02-25 21:52] jreenen commented on #42
@jhilhorst can you confirm this issue is solved in v2.0.2?

[2019-02-25 22:12] jahnkenneth commented on #49
Yes! Thank you very much!

[2019-02-25 22:14] jahnkenneth commented on #58
I use the remote, as one often do when wanting to mute the TV quickly. :-)
I suspect that your app does not pick up when i use the harmony remote to mute..?

[2019-02-25 22:31] jreenen commented on #58
@jahnkenneth you are right as no single commands are communicated over the hub to external parties only activity switches its impossible for the app to track this, unfortunately.

[2019-02-25 22:37] jreenen commented on #58
In the future, I might include some basic IR signals to the app for a Homey device you can then pair with the Logitech Harmony Hub. This way you can include that signal under your button and Homey can pickup on this.

[2019-02-26 03:04] tranceblast commented on #47
@jreenen Everything works fine for me again, thanks!

[2019-02-26 05:10] s1061429 commented on #49
Thanks you for fixing the problem. Works perfect again!

[2019-02-26 07:24] ilmaros commented on #47
Hi, with the new update no issues.
Thank you

[2019-02-26 08:04] jhilhorst commented on #42
Have upgraded last night. Found out this morning that none of my flows related to the harmony hub aren't working. I will try to investigate why this evening.

So to be short i can't confirm the issue is solved

[2019-02-26 08:30] marcschut002 commented on #47
@jreenen works fine with the new update. Case closed!

[2019-02-26 08:52] jreenen commented on #47
Closing this issue because of v2.0.2 seems to have solved it. If you are still experiencing issues feel free to create a new one.

[2019-02-26 08:52] #47 closed

[2019-02-26 08:52] jreenen commented on #58
@jahnkenneth as for now there isn't a way to solve this do you agree on closing this issue?

[2019-02-26 08:54] jahnkenneth commented on #58
@jreenen Sure. :-)

[2019-02-26 08:54] #58 closed

[2019-02-26 16:12] jhilhorst commented on #42
I have the “Promise was rejected with falsy value” issue.
So cannot confirm until that is solved

[2019-02-26 16:18] jhilhorst commented on #42
Sorry, fixed that by adding new cards.
i have some time to test the Activity issue on Thursday, will keep you posted.

[2019-02-26 19:09] jreenen commented on #42
Although I tried saving the flows I didn't seem to have succeeded in that. If you delete a device and re-pair it again it should work again. Sorry for the inconvenience.

[2019-02-26 20:00] zeppie commented on #49
Thx!!

[2019-02-27 06:47] jreenen commented on #49
Since most users are reporting this issue is fixed I am going to close this one. If you still experience issues feel free to create a new issue.

[2019-02-27 06:47] #49 closed

[2019-02-27 06:56] maaikekaasenbrood commented on #49
My issues have not been fixed by the update :(

[2019-02-28 08:41] jhilhorst commented on #42
I have tested the Activity to find out that there is a bug in the harmony software. The delay you put in between steps isn't working (anymore). Confirmed by Logitech.
Quote from Logitech:

So the delay function in Harmony is a completely useless option a.t.m.

If they fix this i will try again.
Cheers.

[2019-03-06 07:12] jreenen commented on #42
Logitech is making itself popular :-)

[2019-06-01 10:21] MrBlue90 commented on #49
I'm unfortunately still experiencing this issue.
After adding the activities or devices, I get a timeout and the app crashes.

I've ran the diagnostics report: dd516d22-5395-4a07-878f-ad1216820f32
Homey: 2.1.2
App: 2.0.2
Hub: 4.15.250

Could you please have a look at this?
Much appreciated!

[2019-06-01 10:28] MrBlue90 opened #59 "App keeps crashing (related to #49?)"
**Describe the bug**
 The app crashes after adding devices or activities

**To Reproduce**
Install the app, discover the hub and activities/devices and add them.
Right after, the devices experience a timeout and the app crashes

**Expected behavior**
The app should keep working and should be able to control the hub.

**Desktop (please complete the following information):**
I've ran the diagnostics

[2019-07-06 15:50] kungktd opened #60 "Two Hubs only one PowerOff tile"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-07-17 03:30] mdamas opened #61 "No Logitech Harmony Hubs have been found"
**Describe the bug**
No Logitech Harmony Hubs have been found. When adding an activity or device

**To Reproduce**
Steps to reproduce the behavior:
1. Tap on + to add a device
2. Tap on "Homey Harmony Hub"
3. Tap on "Harmony Activity"
4. Tap on "Install"
4. See error: No Logitech Harmony Hubs have been found

**Expected behavior**
To see a list of Activities on my Harmony Hub to add to Homey.

**D

[2019-07-19 11:23] TvAnton opened #62 "jump one extra channel on the"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-07-19 11:24] #62 closed

[2019-07-19 11:28] TvAnton opened #63 "Jump one extra channel"
Hi then i want to change channel on the tv it jump one extra so from 1 to 3 3 to 5

Homey V 2.4.0
App 2.6.0.342

[2019-08-01 18:25] Taximaan commented on #61
Just sayin i have the same error..

[2019-08-04 19:01] zawinull commented on #61
i have the same error.

[2019-08-10 14:29] kungktd commented on #60
A month and no reply...

[2019-08-12 09:50] TOBUSY commented on #61
I have the same error. No new hubs have been founded.

[2019-08-12 13:10] zawinull commented on #61
Reason of this was a "client / AP Isolation" mode of the router which prevents direct interaction between WiFi clients. After disabling it - app works.

[2019-09-06 19:47] jreenen commented on #60
Sorry for the late reply, have found the issue and will provide a fix for it soon.

[2019-09-06 19:48] jreenen commented on #59
@MrBlue90 sorry for the late reply, do you have 1 or multiple harmony hubs paired to homey?

[2019-09-06 20:03] kungktd commented on #60
Hi!
Glad you are back and that you found the problem. Looking forward to the update.
Thank you so much for the app and your continuing support!

[2019-09-09 19:42] taraldmoe opened #64 ""Activitiy starting" are looping flows"
I have a strange behavior in my flows. These 2 flows are activated by “activity started - contains sleepingroom” and “Samsung TV are turned of”

When i use my harmony remote to run the TV in the sleepingroom it is trigging the flow so many times that homey are having this error “Flot has been disabled, because the Flow executed to many times”

Any suggestion to what are making this to happend? I t

[2019-09-13 15:21] jreenen commented on #64
@taraldmoe Will try to reproduce this behavior.

[2019-09-15 20:16] #42 closed

[2019-09-20 12:18] jreenen commented on #60
@kungktd did the latest update v2.0.3 solved this problem for you?

[2019-09-20 12:20] jreenen commented on #64
@taraldmoe Are you still experiencing this issue on the latest release v2.0.3?

[2019-09-20 12:21] jreenen commented on #19
@Fire69 Do you agree on closing this issue or does it require some more investigation?

[2019-09-20 12:21] jreenen commented on #59
@MrBlue90 Are you still experiencing this issue on the latest version v2.0.3?

[2019-09-20 12:22] jreenen commented on #63
@TvAnton Are you still experiencing this issue on the latest version v2.0.3?

[2019-09-20 12:27] Fire69 commented on #19
I agree.  It's running perfectly fine here now :-)

Op vr 20 sep. 2019 om 14:21 schreef Jeroen van Reenen <
notifications@github.com>:

[2019-09-20 12:28] #19 closed

[2019-09-20 13:47] kungktd commented on #60
I just got home from a buinsiss trip so I havnt had the time to try it yet. Will most defenently have time this weekend. Will let you know as soon as I have tried the update.

[2019-09-21 10:09] kungktd commented on #60
So, I have just tried the update and it seems to be working fine with two hubs now. I have adjusted my flows to use the PowerOff activity and both hubs seems to work as they should.
Its nice to not having to use IFTTT anymore since the response time is a lot longer from IFTTT.

Thank you for your support of the app! I have “bought” you a cup of coffee or a beer.

[2019-09-21 10:33] jreenen commented on #60
Thank you for your generous donation!!

[2019-10-17 19:20] ThomasHoussin commented on #63
Hi. I'm experiencing the same issue (extra jump) with channel and volume (latest version).

Thomas

[2019-11-07 00:52] taraldmoe commented on #64
This works mutch better now :)

[2019-11-07 16:49] horstefan opened #65 "Cannot read property 'ip' of undefined"
activities are found and added.
When trying to control volume its says Cannot read property 'ip' of undefined

Devices do work as expected.

[2019-11-18 08:24] wemo666 commented on #65
Cannot read property 'ip' of undefined
Everything I click ends up with the above message.
Devices DONT work as expected.
Also, not all the properties from the hub come across.
Otherwise, it was very easy to install.
Thanks.

[2019-12-31 17:01] B3rt opened #66 "Indivual commands always result in Flow card error"
When i try to send a command using a flow card i always get a orange message with promise was rejected with falsy result

I try to control my (pioneer) receiver by changing input or volume etc, doesn't matter what command but all commands give exactly the same flow card errors.

![2019-12-31_131621](https://user-images.githubusercontent.com/720614/71628197-0fc97980-2bf7-11ea-92d3-f0fc9391a39c.png)

[2020-01-03 07:26] greenbee32 opened #67 "app needs regular restarts to work"
i have to restart the app in homey at least 2 or 3 times a week to get it to work,
when it dont work i see red triangels in when i open the app in my apliences(apparaten).
![Screenshot_20200103-082327_Homey](https://user-images.githubusercontent.com/59467597/71711705-7c649400-2e02-11ea-97ff-7335b2f22a0e.jpg)
![Screenshot_20200103-082327_Homey](https://user-images.githubusercontent.com/59467597/717

[2020-01-26 16:31] klenoth commented on #65
Same problem here

[2020-01-27 10:34] JackDaniel007 commented on #65
Here too, one hub works, the other does not

[2020-01-30 20:17] Stave94 commented on #65
same problem here

[2020-02-20 16:04] robkeemink opened #68 "App homey cannot find the harmony hub"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-02-20 16:05] robkeemink commented on #68
Cannot detect harmony hub

[2020-02-20 16:10] robkeemink commented on #68
Solved!

[2020-02-20 16:10] #68 closed

[2020-03-17 12:35] pjmpessers opened #69 "Possible to add next track or pause in if/and flow-card?"
When i play music thru a google home device, i also start a activity where it also start my receiver and plays the music by chromecast on this receiver. On this moment i must yell to my google home hub to play the next song.
But i would like to do it by remote controll. If i could get the possibility to get the action on pressing button next, previous, play, pauze in the "if" and or "and" flow-car

[2020-03-23 17:31] BWiltjer commented on #65
And same here, I can add devices but after adding the devices don’t work and give the Error message

[2020-03-24 00:03] #64 closed

[2020-07-24 20:27] pjmpessers commented on #65
This problem also exist on my harmony hub. All already devices works. But when i want to add new devices and control it i get Cannot read property 'ip' of undefined

[2020-09-27 22:18] edwinvdpol opened #70 "Unable to mute several devices"
**Describe the bug**
When I hit the "mute" button in Homey on several devices, it does not work.
It **does** work with my TV (Sony), it does **not** work with my JBL 2.1 soundbar and DVR from KPN.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to device in Homey
2. Click on 'Gedempt volume (mute)'
3. Notice it does not mute the device

**Expected behavior**
When I click on the 'Mute' but

[2020-10-03 16:55] rudybom opened #71 "No more connection possible"
There is no more connection to the hub.
Even when rebooting homey and harmony hub still not possible. When deleting the app and reinstalling the hub is still unavailable. Can anyone tell me what is going wrong?

[2020-10-13 15:03] jreenen commented on #71
Hi @rudybom if you look at your Logitech Hub is the LED turned red or green?

[2020-10-13 15:11] #69 closed

[2020-10-13 15:13] edwinvdpol commented on #70
@jreenen Yes, it is!

[2020-10-13 15:14] jreenen commented on #67
Hi @greenbee32 sorry for my late reply. Currently, I am working on an update for this app hoping it will improve its stability in your case. Keep an eye out for v2.0.4.

[2020-10-13 15:16] jreenen commented on #66
Hi @B3rt sorry for my late reply. Currently, I am working on an updated version for this app that will probably solve this issue.

[2020-10-13 15:27] pjmpessers commented on #69
Thanks for the explanation. I understand. It is the limitation of harmony.

[2020-10-13 17:43] rudybom commented on #71
Hello,
Thanks for the reply. The led is green, in the mean time the connection is
reset but I have problems with the hub itself.
The hub will work every time with the remote, but the hub will lose the
network connection itself.
I already had contact for this problem with logitech and they send me a new
hub. But the problem stays the same. So the problem is not with the homey
or your app but with t

[2020-10-14 12:55] jreenen commented on #71
@rudybom thanks for the clarification hope Logitech can provide you with a working solution. Will close this ticket for now. If in the future help is needed feel free to open a new ticket or re-open this one.

[2020-10-14 12:55] #71 closed

[2020-10-25 13:40] rkokkelk opened #73 "Devices does not take expected onoff value into account"
**Describe the bug**
The expected value of the `onoff` capability is not taken into account when turning devices on or off. When using specific action cards, such as turning devices off in a certain area of the house, all devices should turn off when executed. Currently, this action on the Harmony hub devices results in the devices being switch from their state, so when off turn on, when on turned

[2020-11-18 08:59] #73 closed

[2020-11-18 08:59] #65 closed

[2020-11-18 20:37] jreenen commented on #70
@edwinvdpol while testing if this would work now on the upcoming v2.0.4 version of the homey app I found that the issue is within the Logitech Hub. For the KPN DVR (Arris) device there is no mute function mapped to the device itself and therefore not working on the homey app also.

[2020-11-19 10:45] jreenen commented on #67
@greenbee32 v2.0.4 just release. If you still have issues please feel free to open another issue.

[2020-11-19 10:45] #67 closed

[2020-11-19 10:46] jreenen commented on #63
v2.04 should solve this issue please feel free to re-open if you are still experiencing this behavior.

[2020-11-19 10:47] jreenen commented on #66
v2.0.4 should have addressed this issue, feel free to re-open if you are still experiencing this issue.

[2020-11-19 10:47] #66 closed

[2020-11-19 11:53] jreenen opened #75 "Crash on sentry package (for test users?)"
/node_modules/@sentry/node/dist/parsers.js:28
var mainModule = ((require.main && require.main.filename && utils_1.dirname(require.main.filename)) ||
                                                                    ^

TypeError: utils_1.dirname is not a function
    at Object.<anonymous> (/node_modules/@sentry/node/dist/parsers.js:28:69)
    at Module._compile (internal/modules/cjs/loader.js:115

[2020-11-19 11:54] jreenen commented on #75
Will remove the Sentry implementation inside the app.

[2020-11-19 11:56] jreenen opened #76 "Crash report on device driver: Cannot read property 'friendlyName' of undefined"
Synchub error: TypeError: Cannot read property 'friendlyName' of undefined
TypeError: Cannot read property 'friendlyName' of undefined
    at HarmonyDevice.triggerOnOffAction (/drivers/harmony_device_driver/device.js:192:24)
    at HubDevice.<anonymous> (/drivers/harmony_device_driver/device.js:144:26)
    at HubDevice.emit (events.js:323:22)
    at HubDevice.EventEmitter.emit (domain.js:482:12)

[2020-11-19 11:57] jreenen commented on #76
Working on a fix

[2020-11-19 12:36] jreenen opened #79 "Athom review: Remove Homey in app title"
Rename the app

[2020-11-19 12:38] jreenen opened #80 "Athom review: Move changelog to the new changelog feature"
Move changelog to the new changelog feature

[2020-11-19 12:41] jreenen opened #81 "Athom review: Shorten app description"
Write a shorter app description

[2020-11-19 12:42] jreenen opened #82 "Athom review: remove "Homey" from any image in app"

[2020-11-19 12:47] ThomasHoussin commented on #63
Hi. I just tested with the latest version, for le the problem is not fixed (extra jump when adjusting volume for example)

[2020-11-19 14:11] jreenen commented on #63
@ThomasHoussin Are you adjusting the volume by using the device tile on the homey app or are you using a flow for that?

[2020-11-19 15:39] #61 closed

[2020-11-19 20:33] #75 closed

[2020-11-19 20:34] #76 closed

[2020-11-19 20:34] #79 closed

[2020-11-19 20:34] #82 closed

[2020-11-19 20:34] #80 closed

[2020-11-19 20:34] #81 closed

[2020-11-20 21:17] ThomasHoussin commented on #63
@jreenen I'm using the device tile (not tested with a flow but I can try)

[2020-11-22 06:56] adveldt opened #91 "Since new version 2.0.4, the program aborts all the time. Homey message that the author will be notified is given after each program abort. Please can you fix this?"
As stated above, the program terminates randomly and no conditions on how it happens are known. This started just after the update to version 2.0.4.
Please help.

[2020-11-24 15:11] jreenen commented on #91
@adveldt did the app already update to v2.0.7 on your side? The issue you are experiencing should have been addressed on that version. If you still experiencing an issue please let me know.

[2020-11-24 15:11] #91 closed

[2020-11-24 15:32] jreenen commented on #63
@ThomasHoussin the app should have updated to v2.0.7 by now could you check this. If you are still experiencing this issue could you please restart the app and then follow the instructions here: [https://community.athom.com/t/homey-harmony-hub-v2-0-7/1747/512?u=jreenen](https://community.athom.com/t/homey-harmony-hub-v2-0-7/1747/512?u=jreenen
)

Please provide a reference to this ticket in your co

[2020-11-24 16:02] adveldt commented on #91
Yes, it did and fortunately everything is now working fine!! Thanks!!!!!!!!

Ad Veldt
________________________________
Van: Jeroen van Reenen <notifications@github.com>
Verzonden: Tuesday, November 24, 2020 4:11:57 PM
Aan: jreenen/com.jreenen.homeyharmonyhub <com.jreenen.homeyharmonyhub@noreply.github.com>
CC: Ad Veldt <adveldt@gmail.com>; Mention <mention@noreply.github.com>
Onderwerp: Re: [jreen

[2020-11-24 22:43] ThomasHoussin commented on #63
Shorty it doesn't seem to work, report sent.

[2020-11-26 14:13] RolfvanderKwaak opened #92 "Activity stays on default "TV Kijken""
Hi,

First compliments to this wonderful homey app, many thank!!

Now my issue;
When I compare an Activity with hub/activity it is always not true only works "yes" on "TV Kijken".

Where?
I set up a flow
1. Select Harmony Hub - Activiteit gestart (of Activiteit wordt gestart / ook geprobeerd)
2. Activiteit is gelijk aan (activiteit) , hub, PowerOff
3. the actual action (eg. a logical operator)

Wh

[2020-12-27 10:12] Jacopos94 opened #93 "unable to find activities"
the harmony app stopped working in the last few weeks
looking around i found that my hub firmware version is 4.15.280.
if i do a search i can find the hub from homey but then there are no activities to be seen.
i tried reinstalling the app to no avail and also i power cycled both the hub and the homey.

[2021-01-14 09:46] aasmundbo opened #94 "«Activity starting” flow card triggers too many times"
**Describe the bug**
Flows with Harmony Hub’s “activity starting” “when” flow card gets triggered so many times that the flow gets disabled immediately.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a flow with “activity starting” card in the “when” section and e.g. a mobile notification in the “then” section. Save flow.
2. Start an activity using the Harmony remote control.
3. Obse

[2021-01-14 11:54] aasmundbo commented on #94
I was able to resolve the issue by uninstalling and reinstalling the Harmony Hub app. After reinstall the flows are only triggered once.

[2021-01-14 11:54] #94 closed

[2021-01-23 21:09] SimonSkotheimsvik opened #95 "Simulator buttons"
I would like to be avle to simulate the push of a HARDWARE button in a flow. For instance the press of "pause". This would be nice to have in a flow triggered if the doorbell rings etc. This could be done without knowing which activity is being run.

[2021-03-12 20:44] m3ngi3 opened #96 "Hub offline notification while hub of Harmony is online and working fine."
**Describe the bug**
Devices and Activities appear offline with red exclamation mark. When opening App in settings it says Hub is offline.

**To Reproduce**
Steps to reproduce the behavior:
1. See above.

**Expected behavior**
Devices and Activities should appear as normal. Flows using these Devices and Activities should work.

**Screenshots**
If applicable, add screenshots to help explain your pr

[2021-05-11 14:51] nouvellemaison opened #97 "volume level"
Using your Logitech Hub app on Homey. I have a Accuphase amp. Has a remote but I had to "learn" the volume up and down on the Harmony. But that works fine. When I use that volume control through the Homey (through your app) then the volumesteps up and down are to big. Any solution or work around for this? And nice app!!

[2021-06-13 16:22] MrBlue90 commented on #93
I second this. Unable to find my Harmony Hub anymore.

[2021-06-14 15:07] RolfvanderKwaak commented on #92
The thing here is; when you change your activity - the changing is triggering Homey. So the homey app notices a starting activity. Only the activity itself (the content of the variable when you evaluate it) stays or reverts back to the "default one" TV Kijken.

Eg. starting Radio is seen:
![image](https://user-images.githubusercontent.com/75081287/121912863-35860800-cd31-11eb-99cc-8947d9e862be.png

[2021-07-07 19:29] Gdel1240 opened #100 "App no more working after homy upgrade 7.0.1"
No more triggering possible from the app

100% reproducable

[2021-10-12 13:28] teewee3 opened #101 "Refreshing available commands for existing devices"
Hi,

I have a Denon AVR with two zones. In harmony the zone 2 is added as a separate device, but for some reason with a lot less pre-configured available commands than for the main zone even though the same remote is used for both.

When teaching the missing commands to the harmony hub from the original remote via IR they are appearing and working fine in the harmony app but are missing in homey.

[2021-11-06 14:11] NickMittelmeijer commented on #96
Hi @m3ngi3 ,

Did you already solve the problem?

Let me know!

Cheers

[2021-11-06 16:25] m3ngi3 commented on #96
@NickMittelmeijer not having this issue at the moment.

I do have activities of the Harmony Hub with the exclamation mark sometimes but I think it is more Harmony issue than Homey issue. Just like Hue lights not responding to the Smart Home buttons of the remote most of the time...

[2021-11-17 00:42] arnljot commented on #100
Experiencing the same problem

[2021-12-04 12:55] christo976 opened #102 "Unable to find the Harmony Hub"
Hello,
It is a great idea to create this harmony app for Homey.
Unfortunately, I get the error message "No Logitech Harmony Hubs have been found."
I checked, the homey hub and the harmony hub are on the wifi network and the same subnet.
is there a way to enter manually the IP address of the harmony hub ?
Any idea on the issue ?
Thank you in advance.
Chris

[2022-01-21 11:44] torbmelb88 opened #103 "Update device state via flow"
Hi.
Would it be possible to add a flow card to update a devices on/off state (without actually turning it on or off)?
The problem with harmony is that when someone operates the device with the original remote, the device state in Homey will be wrong.
If I had the option to change the device state i could use a power plug with metering to determine if the device is actually on or off.
Ex:
If: power

[2022-01-22 12:48] jetlagv1 opened #104 "Pause function gone"
I had some old flows I didn't use that I wanted to use again. It turned out that the the pause command has disappeared from the devices. I'm sure they were there before because I've used them. Has it been removed intentionally and can it be added again?
![Screenshot_20220122-134629](https://user-images.githubusercontent.com/5540477/150639134-976d2ffa-e133-4711-873b-a453cf12ca03.jpg)

[2022-02-26 16:45] Hilluk commented on #102
After a power disturbtion I have got the same problem. Did you already got a solution?

[2022-02-26 20:03] Roylegr commented on #102
Here also the same problem.

[2022-05-21 09:45] Bartman2Pi opened #105 "Hub offline"
Ondanks dat de Hub online is, groen brand en de Harmony App en afstandsbediening probleemloos werken, is de Hub via Homey steeds onbereikbaar/offline.

Bij reboot van Homey, is de hub (en zijn de apparaten) even zichtbaar én bereikbaar. Na enige tijd (onduidelijk waarom en wanneer) valt de verbinding weg én komt soms ook weer plots terug.

Hub en Homey staan op nog geen 5 meter van de router.

Hub

[2022-05-26 12:31] Ronnielox opened #106 "Harmony Hub and Homey flow not working anymore"
**Describe the bug**
Homey Pro doesn't see the 'status' of a Harmony Device anymore. FE, my NAD amplifier stays greyed out while it is on.

**To Reproduce**
Steps to reproduce the behavior:
Through Harmony Hub I turn on my 'Muziek Node2i' activity and normally Homey saw that the NAD amplifier has been turned on and triggering a flow to set an Fibaro plug to on.
Homey does NOT see the NAD amplifier

[2022-06-05 20:18] Bartman2Pi commented on #105
Problem was a instabile Wifi from TP-link archer AX10 router. After replacing this router, all problems are over. If you have the same problem - try to replace you router!

[2022-06-17 19:58] m3ngi3 commented on #96
Experiencing issues again with the hub offline notification wile hub is green and Harmony app is functioning perfect...

[2022-06-17 19:58] m3ngi3 commented on #106
Same issue since a few weeks...

[2022-10-05 19:24] chimpinwetsuit opened #107 "Compatibility with Homey Cloud"
**Is your feature request related to a problem? Please describe.**
I have joined the Homey (Cloud) Beta and found that this useful app is not compatible (yet).

**Describe the solution you'd like**
Home Cloud compatibility.

**Describe alternatives you've considered**
N/A

**Additional context**
The  information here might be useful:
https://apps.developer.homey.app/guides/homey-cloud

[2022-10-14 21:07] martijnchel opened #108 "Homey Pro SDK3"
Since this is one of my favorite apps. Are you planning to support the new SDK for Homey Pro? Would be great of course. And if not, right now the probability is there that older apps will be removed, which would be a real shame.

Thanks!

[2022-11-06 21:31] kimc88 opened #109 "Logitech Harmony hub homey Pro 2023"
Will the app for the homey Pro support the 2023 model?
![Screenshot_2022-11-06-22-30-40-57_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/3104661/200196256-b1bedaef-4dea-4833-9ba5-a017596d2a18.jpg)

[2022-11-08 11:58] nouvellemaison commented on #97
OK problem solved!! On the harmony hub software there is a setting which controls the delay of the commands. It is in <settings> <devices> <choose the device in my case an amplifier> <repeat of commands>. This value was set on 1 and I changed it to zero. Now controlling the volume up and down takes less big steps. Exactly what I needed. In the Homey I use the command in which the repeats can be se

[2022-11-08 11:58] #97 closed

[2022-11-12 23:13] KnarfOfSpam commented on #109
Yes I like the app and use it a lot…

[2022-11-20 10:41] corvdniet opened #110 "Hi! Any chance to get this app ready with SDK3 for Homey Pro 2023?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-11-25 15:02] satoer commented on #109
Me too, would be great if this can be updated it to SDK3

[2022-11-26 08:55] Mintminds commented on #109
Yes please!